* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

:root {
  --box-shadow: rgba(57, 76, 96, 0.15);
  --primary-color: #434344;
  --bg-color: linear-gradient(-180deg, #f53d2d, #f63);
}

.btn__primary {
  text-decoration: none;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: var(--primary-color);
  border: 1px solid #fff;
  color: #fff;
}
.btn__primary:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.btn__secondary {
  text-decoration: none;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #6c757d;
  color: #6c757d;
}
.btn__secondary:hover {
  background-color: #6c757d;
  color: #fff;
}

.gradient-custom-2 {
  background: linear-gradient(to right, orange, red);
  color: #fff !important;
}

.gradient-custom-1:hover {
  background: linear-gradient(to right, orange, red);
  color: #fff !important;
}

.gradient-custom-1 {
  border: 1px solid #f53d2d !important;
  color: #f53d2d !important;
}
